<app-titre titreClasse="fas fa-user-md pr-2" titrePartie="Médecin"></app-titre>

<div class="row">
  <div class="col-12">
    <div class="float-left">
      <form (ngSubmit)="onSearch(search.value)" class="form-inline">
        <div class="form-group mb-2">
          <input class="form-control" placeholder="Nom" #search name="search" type="text">
        </div>
        <button type="submit" class="btn btn-info mx-sm-3 mb-2">
          Rechercher
        </button>
      </form>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-success" routerLink="/medecin-add">
        <span class="fas fa-plus mr-2"></span>Ajouter un médecin
      </button>
    </div>
  </div>
</div>

<div *ngIf="medecins">
  <div class="row">
    <div class="col-12 mt-2">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Spécialité</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let medecin of medecins; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ medecin.nom }}</td>
            <td>{{ medecin.prenom }}</td>
            <td>{{ medecin.specialite }}</td>
            <td class="text-center">
              <a class="btn btn-success mx-1" routerLink="/medecin-show/{{medecin.id}}"><span
                class="icon"><i
                class="fas fa-search"></i></span></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-loader variableShow="{{ medecins }}"></app-loader>

<div *ngIf="existe">
  <button type="button" class="btn btn-success" routerLink="/medecin-add">
    <span class="fas fa-plus mr-2"></span>Ajouter un médecin
  </button>
</div>
