<app-titre titreClasse="fas fa-user-md pr-2" titrePartie="Médecin"></app-titre>

<app-recherche titreBtn="Ajouter un médecin" placeholder="Médecin ou Spécialité" modalName="modalAddMedecin"></app-recherche>

<div class="row">
  <div class="col-12 mt-2">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Spécialité</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let medecin of medecins; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ medecin.nom }}</td>
          <td>{{ medecin.prenom }}</td>
          <td>{{ medecin.specialite }}</td>
          <td class="text-center">
            <a class="btn btn-success mx-1" routerLink="/medecin-show/{{medecin.id}}"><span
              class="icon"><i
              class="fas fa-search"></i></span></a>
            <a class="btn btn-info mx-1" routerLink="/medecin-update/{{medecin.id}}"><span class="icon"><i
              class="fas fa-edit"></i></span></a>
            <a class="btn btn-danger mx-1" routerLink="/medecin-delete/{{medecin.id}}"><span class="icon"><i
              class="fas fa-trash-alt"></i></span></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
