<div class="row">
  <div class="col-12 pb-2">
    <h1>Configuration</h1>
  </div>
</div>

<div class="row">
  <div class=" col-12">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active show" id="nav-personne-tab" data-toggle="tab" href="#nav-personne" role="tab"
           aria-controls="nav-personne" aria-selected="true">Médecin</a>
        <a class="nav-item nav-link" id="nav-partenaire-tab" data-toggle="tab" href="#nav-partenaire" role="tab"
           aria-controls="nav-partenaire" aria-selected="false">Patient</a>
        <a class="nav-item nav-link" id="nav-probleme-tab" data-toggle="tab" href="#nav-probleme" role="tab"
           aria-controls="nav-probleme" aria-selected="false">Consultation</a>
        <a class="nav-item nav-link" id="nav-action-tab" data-toggle="tab" href="#nav-action" role="tab"
           aria-controls="nav-action" aria-selected="false">Médicament</a>
      </div>
    </nav>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-personne" role="tabpanel" aria-labelledby="nav-personne-tab">
      <div class="row">
      </div>
    </div>
    <div class="tab-pane fade" id="nav-partenaire" role="tabpanel" aria-labelledby="nav-partenaire-tab">
      <div class="row">
        Patient
      </div>
    </div>
    <div class="tab-pane fade" id="nav-probleme" role="tabpanel" aria-labelledby="nav-probleme-tab">
      <div class="row">
        Consultation
      </div>
    </div>
    <div class="tab-pane fade" id="nav-action" role="tabpanel" aria-labelledby="nav-action-tab">
      <div class="row">
        Médicament
      </div>
    </div>
  </div>
</div>
