<div class="side-nav">
    <nav>
        <ul>
            <li>
                <a routerLink="">
                    <span><i class="fas"></i></span>
                    <span>Statistique</span>
                </a>
            </li>
            <li>
                <a routerLink="medecin">
                    <span><i class="fas"></i></span>
                    <span>Médecin</span>
                </a>
            </li>
            <li class="active">
                <a routerLink="patient">
                    <span><i class="fas"></i></span>
                    <span>Patient</span>
                </a>
            </li>
            <li>
                <a routerLink="">
                    <span><i class="fas"></i></span>
                    <span>Consultation</span>
                </a>
            </li>
            <li>
                <a routerLink="">
                    <span><i class="fas"></i></span>
                    <span>Médicament</span>
                </a>
            </li>
            <li>
                <a routerLink="configuration">
                    <span><i class="fas"></i></span>
                    <span>Configuration</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
