<div class="row">
  <div class="col-12">
    <div class="float-left">
      <form method="GET" action="" class="form-inline">
        <div class="form-group mb-2">
          <input class="form-control" placeholder="{{ placeholder }}" name="search" type="text">
        </div>
        <button type="submit" class="btn btn-info mx-sm-3 mb-2">
          Rechercher
        </button>
      </form>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-success" data-toggle="modal" attr.data-target="#{{ modalName }}">
        <span class="fas fa-plus mr-2"></span>{{ titreBtn }}
      </button>
    </div>
  </div>
</div>

<app-medecin-add idModal="{{ modalName }}"></app-medecin-add>
