<div class="row">
  <div class="col-12">
    <div class="float-left">
      <form method="GET" action="" class="form-inline">
        <div class="form-group mb-2">
          <input class="form-control" placeholder="{{ placeholder }}" name="search" type="text">
        </div>
        <button type="submit" class="btn btn-info mx-sm-3 mb-2">
          Rechercher
        </button>
      </form>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-success" data-toggle="modal" attr.data-target="#{{ modalName }}">
        <span class="fas fa-plus mr-2"></span>{{ titreBtn }}
      </button>
    </div>
  </div>
</div>

<app-medecin-add idModal="{{ modalName }}"></app-medecin-add>


<!--
<div class="modal fade" id="{{ modalName }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un médecin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-medecin-add></app-medecin-add>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </div>
    </div>
  </div>
</div>

-->
