* {
  box-sizing: border-box;
}

$atom: #2c3e50;
$atom-dark: #233245;

body {
  margin: 0;
  padding: 0;
  background-color: #D9DEE4;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 100vh;
}

/*SMALL*/
@media screen and (max-width: 599px) {
  .main-content {
    background-color: green;
  }
}

/*MEDIUM*/
@media screen and (min-width: 600px) {

  .logo {
    width: 80px !important;

    span {
      display: none;
    }

    i {
      font-size: 30px;
    }
  }

  .side-nav {
    width: 80px !important;
    display: block !important;
    text-align: center;

    i {
      font-size: 26px;
    }

    span:nth-child(2) {
      display: none;
    }
  }

  .main-content {
    margin-left: 80px !important;
  }
}

/*LARGE*/
@media screen and (min-width: 1000px) {

  .logo {
    width: 250px !important;

    span {
      display: inline;
    }

    i {
      font-size: 26px;
      margin: auto;
    }
  }

  .side-nav {
    width: 250px !important;
    text-align: left;

    i {
      font-size: 16px;
    }

    span:nth-child(2) {
      display: inline;
    }
  }

  .main-content {
    margin-left: 250px !important;
  }
}

.active-atom {
  z-index: 2;
  color: #fff;
  background-color: $atom;
  border-color: $atom;
}

.active-atom-dark {
  z-index: 2;
  color: #fff;
  background-color: $atom-dark;
  border-color: $atom-dark;
}
