<div class="row no-gutters">

  <div class="col-lg-3 col-md-6 p-2">
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-4 d-flex align-items-center active-atom-dark justify-content-center rounded-left">
        <em class="fas fa-user-md fa-3x"></em>
      </div>
      <div class="col-8 py-3 active-atom rounded-right">
        <div class="h2 mt-0">{{ categories.medecins }}</div>
        <div class="text-uppercase">Médecins</div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 p-2">
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-4 d-flex align-items-center active-atom-dark justify-content-center rounded-left">
        <em class="fas fa-user-injured fa-3x"></em>
      </div>
      <div class="col-8 py-3 active-atom rounded-right">
        <div class="h2 mt-0">{{ categories.patients }}</div>
        <div class="text-uppercase">Patients</div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 p-2">
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-4 d-flex align-items-center active-atom-dark justify-content-center rounded-left">
        <em class="fas fa-notes-medical fa-3x"></em>
      </div>
      <div class="col-8 py-3 active-atom rounded-right">
        <div class="h2 mt-0">{{ categories.consultations }}</div>
        <div class="text-uppercase">Consultations</div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 p-2">
    <div class="card flex-row align-items-center align-items-stretch border-0">
      <div class="col-4 d-flex align-items-center active-atom-dark justify-content-center rounded-left">
        <em class="fas fa-pills fa-3x"></em>
      </div>
      <div class="col-8 py-3 active-atom rounded-right">
        <div class="h2 mt-0">{{ categories.medicaments }}</div>
        <div class="text-uppercase">Médicaments</div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-12">
      <canvas height="100" id="lineChart"></canvas>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <canvas height="100" id="chartMedecinID"></canvas>
  </div>
  <div class="col-6">
    <canvas height="100" id="chartMedicamentID"></canvas>
  </div>
</div>
